DATABASE_URL=postgresql://user:pass@host/db?sslmode=require
JWT_SECRET=change-this-to-a-long-random-string
GITHUB_CLIENT_ID=Ov23lio7T0xCmjV9IMCR
GITHUB_CLIENT_SECRET=your-secret-here
BACKEND_URL=https://insighta-backend.vercel.app
FRONTEND_URL=https://insighta-web.vercel.app
PORT=3000
